# Nuxt
.output
.data
.nuxt
.nitro
.cache
dist

# Dependencies
node_modules

# Env
.env
.env.*
!.env.example

# IDE
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db
